<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>JKChat.iOS</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/anewhope_regular.ttf</string>
		<string>Fonts/arial_regular.ttf</string>
		<string>Fonts/ergoe_bold.TTF</string>
		<string>Fonts/ergoe_medium.ttf</string>
		<string>Fonts/ergoe_regular.ttf</string>
		<string>Fonts/ocrastd_regular.otf</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>CFBundleIdentifier</key>
	<string>com.vlbor.JKChat</string>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need to access your location to keep the connection to game servers</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need to access your location to keep the connection to game servers</string>
	<key>NSLocationUsageDescription</key>
	<string>We need to access your location to keep the connection to game servers</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need to access your location to keep the connection to game servers</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>jkchat</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>jkchat</string>
	</array>
</dict>
</plist>
