<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="33" android:versionName="1.5" package="com.vlbor.jkchat" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="35" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<application>
		<service android:name="com.vlbor.jkchat.ForegroundGameClientsService" android:exported="true" android:foregroundServiceType="specialUse">
			<property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" android:value="Foreground service keeps connection to game servers"/>
        </service>
    </application>
</manifest>